@import 'normalize.css';

@font-face {
    font-family: 'PKMN_RBYGSC';
    src: url('../fonts/PKMN_RBYGSC.ttf') format('truetype');
}

html,
body {
    background-color: #ffe4e6;
    height: 100%;
    touch-action: manipulation;
}

body {
    display: flex;
    justify-content: center;
}

.hidden {
    display: none;
}

#app {
    max-width: 90vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    border: solid #1e293b;
    background-color: #e11d48;
    border-radius: 0.5rem;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
        drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
    height: 75vh;
}

.rounds {
    display: flex;
}

.round {
    border-radius: 100%;
}

#biper,
#biper__anime {
    position: relative;
    background-color: #38bdf8;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
}

#biper {
    position: relative;
    border: 6px white solid;
    border-color: white;
    box-shadow: inset 8em 1em #0ea5e9;
}

#biper:after {
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    border-radius: 100%;
    opacity: 0.8;
}

#biper__anime {
    position: absolute;
    animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.indicators {
    display: flex;
    gap: 1rem;
}

.indicator {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: solid 2px #1e293b;
}

.indicator:after {
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background-color: white;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    border-radius: 100%;
    opacity: 0.6;
}

.red {
    background-color: #ef4444;
}

.orange {
    background-color: #eab308;
}

.green {
    background-color: #22c55e;
}

.blue {
    background-color: #0ea5e9;
}

.screen__border {
    max-width: 24rem;
    display: flex;
    /* height: 32.5vh; */
    height: 60%;
    background-color: #1e293b;
    margin: auto;
    margin-top: 3vh;
    clip-path: polygon(
        0 0%,
        10% 0,
        100% 0%,
        100% 10%,
        100% 90%,
        100% 100%,
        10% 100%,
        0% 87%,
        0% 10%
    );
}

.screen__container {
    max-width: 23.5rem;
    display: flex;
    flex-direction: column;
    width: 99vw;
    /* height: 32vh; */
    height: 98%;
    background-color: #cbd5e1;
    margin: auto;
    clip-path: polygon(
        0 0%,
        10% 0,
        100% 0%,
        100% 10%,
        100% 90%,
        100% 100%,
        9.5% 100%,
        0% 87.5%,
        0% 10%
    );
}

.screen__top {
    display: flex;
    gap: 4rem;
    justify-items: center;
    place-content: center;
    padding: 0.7rem;
}

.top__led {
    width: 1rem;
    height: 1rem;
    background-color: #ef4444;
    border: solid 2px #1e293b;
}

#screen {
    position: relative;
    display: flex;
    margin: auto;
    width: 87%;
    height: 76vh;
    background-color: #1f293731;
    border-radius: 2%;
    flex-grow: 0;
    font-family: 'PKMN_RBYGSC';
}

.screen__bottom {
    display: flex;
    width: 100%;
    height: 10%;
    flex: 1 1 0%;
}

.guests {
    width: 100%;
    list-style: none;
    text-indent: 0;
    padding: 0;
    margin: 0;
}

.guest__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
    font-size: 1.1em;
}

.guest__item:not(:last-child) {
    margin-bottom: 0.6rem;
}

.guest__container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.guest__id {
    font-size: 1rem;
    padding-left: 1vw;
}

.guest__chevron {
    width: 1.6rem;
    height: 1.6rem;
    margin-left: -1vw;
    margin-right: 1.6vw;
}

/* .guest__item.current .guest__chevron {
  display: block;
} */

.guest__item:not(.current) .guest__chevron {
    visibility: hidden;
}

.big__led__container {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.big__led {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #ef4444;
    border: solid 2px #1e293b;
}

.speaker__container {
    width: 5vw;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    justify-items: center;
    align-items: center;
    place-content: center;
}

.speaker {
    width: 100%;
    height: 0.2rem;
    background-color: #1e293b;
}

.pad {
    display: flex;
    justify-content: space-between;
    margin-top: 4vh;
}

.random__round {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e293b;
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 0.75rem;
}

#a-button {
    margin-left: 50px;
}

.center__pad {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 0 1rem;
}

.pills {
    display: flex;
    gap: 1rem;
}

.pad_pill {
    width: 4rem;
    height: 0.5rem;
    border-radius: 0.2rem;
    flex: 1 1 0%;
    border: solid 1px #1e293b;
}

.second__screen {
    flex: 1 1 0%;
    display: flex;
    margin-bottom: 1rem;
    background-color: #cbd5e1;
    border-radius: 0.3rem;
    border: solid 1px #1e293b;
    font-family: 'PKMN_RBYGSC';
}

.second__screen__content {
    flex: 1 1 0%;
    background-color: #1f293731;
}

.cross {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    justify-content: center;
    margin-top: 0.7rem;
}

.control {
    background-color: #1e293b;
    width: 2.2rem;
    height: 2.2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control:not(.control__center) {
    cursor: pointer;
    border: none;
}

#left {
    grid-column-start: 1;
    border-radius: 15% 0 0 15%;
}

#top {
    grid-column-start: 2;
    border-radius: 15% 15% 0 0;
}

#right {
    grid-column-start: 4;
    border-radius: 0 15% 15% 0;
}

#bottom {
    grid-column-start: 2;
    border-radius: 0 0 15% 15%;
}

#screen__content {
    display: flex;
    padding: 0.7rem;
    width: 100%;
}

.pad__chevron {
    width: 1rem;
    height: 1rem;
}

#boot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.guest__detail__char {
    display: flex;
    margin-bottom: 2vh;
    gap: 0.7rem;
    width: 100%;
}

.id__prefix {
    font-weight: bolder;
    font-size: 0.56rem;
}

.guest__right {
    flex: 1 1 0%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
}

.guest__firstname {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.guest__relation {
    font-size: 0.8rem;
}

canvas {
    width: 6rem;
    height: 6rem;
    background-size: cover;
}

#sprites {
    display: none;
}

@keyframes pulse {
    0% {
        transform: scale(0);
    }

    70% {
        transform: scale(1);
    }
    75% {
        opacity: 0;
    }

    /* 100% {
    transform: scale(0);
  } */
}

/* iPad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #app {
        height: 62vh;
    }

    .screen__border {
        height: 38.5vh;
    }

    .screen__container {
        height: 37.8vh;
    }
}

/* iPhone */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    #app {
        height: 80vh;
        max-width: 90%;
        padding: 3vw 2.5vw;
    }

    #biper,
    #biper__anime {
        width: 3rem;
        height: 3rem;
    }

    #biper {
        position: relative;
        border: 4px white solid;
        border-color: white;
    }

    #biper:after {
        width: 0.7rem;
        height: 0.7rem;
        top: 0.8rem;
        left: 0.8rem;
    }

    .indicator {
        width: 1rem;
        height: 1rem;
    }

    .top__led {
        width: 0.7rem;
        height: 0.7rem;
    }

    .indicator:after {
        width: 0.3rem;
        height: 0.3rem;
        top: 0.2rem;
        left: 0.2rem;
    }

    .screen__border {
        max-width: 100%;
        height: 47vh;
    }

    .screen__container {
        max-width: 98%;
        height: 46vh;
    }

    #screen {
        font-size: 0.8rem;
    }

    #screen__content {
        padding: 0.4rem;
    }

    .guest__id {
        font-size: 0.7rem;
    }

    .guest__chevron {
        width: 1rem;
        height: 1rem;
        margin-right: 1.3vw;
    }

    .pad {
        margin-top: 6vh;
    }

    .random__round {
        width: 2.4rem;
        height: 2.4rem;
        font-size: 0.75rem;
    }

    #a-button {
        margin-left: 30px;
        margin-bottom: 10px;
    }

    .pad_pill {
        width: 2rem;
        height: 0.3rem;
    }

    .control {
        width: 1.8rem;
        height: 1.8rem;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .screen__border {
        max-width: 100%;
        height: 47vh;
    }

    .screen__container {
        max-width: 98%;
        height: 46vh;
    }

    .guest__id {
        font-size: 0.8rem;
    }

    #screen {
        font-size: 0.95rem;
    }
}
