@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PKMN_RBYGSC";
    src: url("./PKMN_RBYGSC.ttf") format("truetype");
}

@font-face {
    font-family: "PressStart2P_Regular";
    src: url("./PressStart2P_Regular.ttf") format("truetype");
}

body {
    touch-action: manipulation;
}
